/*

filename: lab04

author: Kha Nam Tran

created: 28/08/2025

last modified: 28/08/2025

description: lab04.html

*/

h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold; /* Title change to Purple, Bold, and double Sized*/
}

* {
    font-family: calibri, sans-serif; /*Changes all(*) to Calibri*/
    color: #2f4f4f
}

h2 {
    color: rgb(0,128,128);
    font-weight:bold;
    font-size: 1.5em /* Changes h2 font with RGB, Font Weight, and Font Size*/
}

aside, footer {
    font-style: italic /* Makes all aside and footer text into italics*/
}

h1,h2,h3 {
    font-family: arial, sans-serif; /* 1-3 Headings use different fonts*/
}

table, th, td {
    border: 1px solid black; /* Table header and data use border*/
}

#introduction {
    text-align: center; /* Aligns id=introduction text center*/
}

#images {
    text-align : center; /* image with id is centered*/
}

#headings {
    color: red; /* change specific text to red*/
}

.special {
    color: darkorange;
    font-weight: bold;
}

.tablemonth {
    text-align: right; /* tablemonth id text aligns to right*/
}

nav a {
    text-decoration: none;
    padding:0.2em 0.6em;
    border: 4px solid #ccc /* modifies attribute of navigational bar*/
}

ol ul {
    list-style-type: square; /* changes all unordered list in ordered list to use bullet points square*/
}

nav a:hover {
    background-color: lightblue;
    border: darkblue;
    transition: color 0.5s;
}